nav {
  background-color: #262626;
  position: fixed;
}

nav .brand-logo {
  padding: 1rem;
}

nav ul li {
  padding: 1em;
}

nav ul li.active {
  background-color: #ffab40;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

.card-action {
  color: #666;
}

span {
  margin-right: 0.35em;
}

footer {
  position: relative;
  padding-top: 2em;
  text-align: center;
}

.movedown {
  position: relative;
  padding-top: 7em;
  z-index: -1;
}

.brand-logo {
  max-height: 70px;
}

.card-content {
  padding: 12px !important;
}

ul li .right {
  color: #fff !important;
}

.tab:hover {
  cursor: pointer;
  background-color: #039be5;
  color: white;
}

/*a:hover {
  color: #60caff;
}*/

.card:hover {
  transform: scale(1.02);
}

ul > .tabs {
  display: inline-block;
}
.tabs > .active {
  color: white;
}