nav {
  background-color: #262626;
  position: fixed;
}

nav .brand-logo {
  padding: 1rem;
}

/*body {
  background-color: #f4f4f4;
}*/

/*ul li a {
  color: #666;
}

ul li {
  color: #666;
}*/

.brand-logo {
  color: #666;
}

span {
  margin-right: 0.35em;
}

nav ul li {
  padding: 1em;
}

nav ul li.active {
  background-color: #ffab40;
}

.card-action {
  color: #666;
}

footer {
  position: relative;
  padding-top: 2em;
  text-align: center;
}

.movedown {
  position: relative;
  padding-top: 7em;
  z-index: -1;
}

.brand-logo {
  /*width: 170px;*/
  max-height: 70px;
}

.card-content {
  padding: 12px !important;
}

ul li .right {
  color: #fff !important;
}

/*nav.nav-extended .nav-wrapper {
  max-height: 65px
}*/

.tab:hover {
  cursor: pointer;
  background-color: #039be5;
  color: white;
}

a:hover {
  color: #60caff;
}

.card:hover {
  transform: scale(1.02);
}

ul > .tabs {
  display: inline-block;
}
.tabs > .active {
  /*background-color: #ffab40 !important;*/
  color: white;
}