nav {
  background-color: #262626;
  position: fixed;
  z-index: +1;
}

nav .brand-logo {
  padding: 1rem;
}

nav ul li {
  padding: 1em;
}

nav ul li.active {
  background-color: #ffab40;
}

#logo {
  color: #98ff98;
  text-align: center;
  font-style: italic
}

@media only screen and (min-width: 992px) {
    .nav-content {
        display: none;
    }
}

@media only screen and (max-width: 992px) {
    .movedown {
        position: relative;
        padding-top: 8.5em !important;;
    }
}

.nav-content {
  background-color: #262626;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

span {
  margin-right: 0.35em;
}

footer {
  position: relative;
  padding-top: 2em;
  text-align: center;
}

.movedown {
  position: relative;
  padding-top: 7em;
}

.brand-logo {
  max-height: 2.3em;
}

.card-content {
  padding: 0.8em !important;
  padding-left: 1.5em !important;
  padding-right: 1.5em !important;
}

.row {
  margin-bottom: 0.1em;
}

.tab:hover {
  cursor: pointer;
  background-color: #039be5;
  color: white;
}

.card:hover {
  transform: scale(1.02);
}

.error-message {
  background-color: #ff7272;
  z-index: +1;
  margin-top: -1em;
  color: white;
  padding: 1em;
}

/*a {
  color: #000;
}*/

a:hover {
  color: #039be5;
}

.progress {
  z-index: +1;
  margin-top: -1em;
  padding: 0.5em;
}

.spinner-layer {
  width: 100%;
  height: 100%;
}

.footer-links a {
  color: #039be5;
}