nav {
  background-color: #fff;
}

body {
  background-color: #f4f4f4;
}

ul li a {
  color: #666;
}

ul li {
  color: #666;
}

.brand-logo {
  color: #666;
}

span {
  margin-right: 0.35em;
}

.card-action {
  color: #666;
}

footer {
  padding-top: 100px;
  text-align: center;
}

.movedown {
  padding-top: 75px;
}

.brand-logo {
  /*width: 170px;*/
  max-height: 70px;
}

.card-content {
  padding: 12px !important;
}

ul li .right {
  color: #fff !important;
}

nav.nav-extended .nav-wrapper {
  max-height: 65px
}

.tab:hover {
  cursor: pointer;
  background-color: #039be5;
  color: white;
}

a:hover {
  color: #60caff;
}

.card:hover {
  transform: scale(1.05);
}

ul > .tabs {
  display: inline-block;
}